// Primary colours
// #00829a - Main Blue
// #b1bec8 - grey
// #f1f1f1 - light grey


$mainblue : #1689e7;
$grey : #b1bec8; 
$lightgrey : #f1f1f1;

//borde color input select
$darkgrey : #333;


body{
    margin: 0;
    padding: 0;
    font-family: "open_sans_regular", sans-serif;
    display: flex;
    justify-content: center;
}

input[type=text] {
    padding:10px;
    outline: none;
    width: 100%;  
    border: none;
    background-color: transparent;
}
input[type=text]:focus {
    border-color: $darkgrey;

}

.text-login{
    color:white;
    font-size: 10pt;
    letter-spacing: 0.2em;
    font-weight: 10;
    position: absolute;
    top: 50%; 
    right: 0;
    transform: translate(-50%,-50%);
}    
   
 ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #cfcfcf;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #cfcfcf;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #cfcfcf;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #cfcfcf;
}
::-ms-input-placeholder { /* Microsoft Edge */
      
 color:    #cfcfcf;
}   

::placeholder { /* Most modern browsers support this now. */
   color:    #cfcfcf;
}

.container{
        //background-color: red;
        width: 65%;
        text-align: center;
        
    .content{
         margin-top: 40px; 
         width: 70%;
         background-color: #FFFBFA;
         box-shadow: 0px 2px 2px #888888;
         display: inline-block;
         border-radius: 12px;
         text-align: center;
         padding-bottom: 30px;
    }
    
       
    .description, p{
            
        text-align: center;
        font-size: 12pt;
        margin-top:40px;
        margin-bottom: 40px;
        letter-spacing: 0.1em;
    }
    .header{
        padding: 10px;
        background-color: $mainblue;
        text-align: left;
        position: relative;
    
            .bars-icon{
                display: none;
            }
            .job-name {
                width: 15%;
            }
            
        }


        .login{

            width: 70%;
            display: inline-block;
        }
        .input-container{
            font-size: 20px;
            margin:20px;
            text-align: center;
            border: solid 2px $grey;
            border-radius: 5px;
            height: 50px;
            display:flex; //vertical div in parent
            align-items:center; //vertical div in parent//vertical div in parent
           
        }   
               
        .input-user{
            color: #bebebe;
            font-size: 14px;
            
        }
       
       .input-password{
            
            font-size: 15px;
            font-weight: bold;
        }
    
        .password{
           border: solid 2px $lightgrey;
       }    
       .user-icon
        {
           width: 15%;
           height: 100%;
           background-color: $lightgrey;
           position: relative;
       }   
       @mixin icons ($background){
        width: 15px;
       height: 15px;
       position: absolute;
       top: 50%; left: 50%;
       transform: translate(-50%,-50%);
       background: url($background) no-repeat;
    }
    .icon-key{
        @include icons('../assets/images/key-solid.svg');
   }    
    .icon-user{
       
       @include icons('../assets/images/envelope-regular.svg');
   }    
       
   .icon-password{
           @include icons('../assets/images/lock-solid.svg');
           
       }
    .user-text
    {
       width: 70%;
    }
    .user-key
    {
       width: 15%;
       height: 100%;
       position: relative;
    } 
    
    .tabs
   {
       width: 100%;
       white-space: nowrap;
       letter-spacing: 0.7px;
       font-weight: initial;

       %tab-button
       {
           cursor: pointer;
           padding-top: 10px;
           padding-bottom: 10px;
           border:none;
           font-size: 12pt;
           outline: none;
           display: inline-block;
           text-align: center;
           width:50%;
       }
       
       .login-tab{
           @extend %tab-button;
               border-bottom: solid 1px $grey;
               color: $grey;
       }
           
       .signup-tab{
           @extend %tab-button;
           border-bottom: solid 1px #706F77;
           color: #706F77;
       } 
    }  
    
    .btn-classic{
        border-radius: 1.5em;
        background-color: $mainblue;
        color: white;
        width: 95%;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 10pt;
        text-align: center;
        float: right;
        outline: none;
        letter-spacing: 2px;
        margin: 10px;
        font-weight: 10;
        
       }
}

//media queries   
@media screen and (max-width: 414px) {
    .container{
        width: 100%;
        
        .header{
            padding: 16px;
            background-color: $mainblue;
            text-align: left;
            
        
                .bars-icon{
                    display: inline-block;
                    width: 5%;
                    padding: 5px;
                }
                .job-name{
                    width: 40%;
                }
            }
    }
}
    







 





